.main-banner {
    margin: 100px auto;

    .main-banner-container {
        border-radius: 24px;
        padding: 40px 60px !important;
        background: rgba(255, 255, 255, 0.025);
    }

    .main-banner-github {
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 0;

        width: 200px;
        padding: 10px 20px;
        border-radius: 12px;
        background: $purple-gradient;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: all .3s ease-in-out;
        cursor: pointer;

        margin-bottom: 60px;

        p {
            text-shadow: none;
            color: #fff;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 2px;
            line-height: 1.5em;
            width: auto !important;
            margin: 0;
        }

        svg {
            font-size: 24px;
            margin-left: 10px;
            transition: 0.3s ease-in-out;
            line-height: 1;
        }

        &:hover,
        &:active,
        &:focus {
            filter: $purple-filter;
            svg {
                filter: $purple-filter;
            }
        }

    }

    .main-banner-profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            filter: drop-shadow(0 0 0.25rem rgba(74, 47, 189, 0.8));

            img {
                transform: translateY(-27px) translateX(-6px);
                width: 100px;
                zoom: 2.1;
            }
        }
    }

    h1 {
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 0.6;
        margin-bottom: 20px;
        display: block;
        transform: scale3d(1, .85, 1);
        text-shadow: 0 0 20px #000;

        strong {
            font-weight: 400;
            letter-spacing: 2px;
            color: #e0b230;
        }
    }

    p {
        text-shadow: 0 0 6px #000;
        color: #DDD;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        width: 96%;
    }

    .main-banner-connect {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 120px;
        transition: all .3s ease-in-out;

        a {
            all: unset;
        }

        button {
            color: #fff;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 22px;
            letter-spacing: 2px;
            line-height: 1.5em;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin-top: 10px;
            background: $blue-gradient;
            ;
        }


        svg {
            color: #fff;
            font-size: 24px;
            margin-left: 10px;
            transition: 0.3s ease-in-out;
            line-height: 1;
        }

        &:hover,
        &:active,
        &:focus {
            filter: $blue-filter;
        }
    }

    // img {
    //     animation: updown 3s linear infinite;
    // }

    @keyframes updown {
        0% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .main-banner-text-anim {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1;
        display: block;

        .main-banner-current-text {
            border-right: 0.08em solid #666;
        }

        &.mobile {
            display: none;
        }
    }

    @media (max-width:1200px) {
        .main-banner-github {
            margin-left: 0;
            margin-right: auto;
        }

        .main-banner-connect {
            justify-content: flex-start;
        }

    }

    @media (max-width:992px) {
        margin: 30px 0;
        padding: 0 20px !important;

        .main-banner-container {
            padding: 30px 20px !important;
            background: rgba(255, 255, 255, 0.025);
        }

        .main-banner-github {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 30px;

            p {
                font-size: 20px;
            }

            svg {
                font-size: 22px;
            }

        }

        .main-banner-text-anim {
            display: none;

            .main-banner-current-text {
                border-right: 0.08em solid #666;
            }

            &.mobile {
                display: block;
            }
        }

        .main-banner-connect {
            justify-content: center;
            margin-top: 30px;
        }

        .main-banner-profile {
            gap: 25px;
        }

        svg {
            margin: -30px 0;
        }

        h1 {
            font-size: 32px;
            margin: 10px 0;
        }

        .main-banner-current-text {
            font-size: 36px;
        }

        p {
            font-size: 18px;
        }
    }

}