.main-banner {
    position: relative;
    margin: 0 auto;
    padding-top:100px !important;

    .main-banner-buttons{
        width: 100%;
        display: flex;
        .main-banner-btn{
            display: flex;
            justify-content: center;
            margin-top:20px;
            margin-bottom: 20px;

            a {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 300px;
                padding: 10px 0;
                border-radius: 12px;
                transition: all .3s ease-in-out;
                border: 1px solid rgba(255, 255, 255, 0.5);
                cursor: pointer;
                p {
                    text-shadow: none;
                    color: #fff;
                    font-weight: 700;
                    font-size: 22px;
                    letter-spacing: 2px;
                    line-height: 1.5em;
                    width: auto !important;
                    margin: 0;
                }
        
                svg {
                    font-size: 24px;
                    margin-left: 10px;
                    transition: 0.3s ease-in-out;
                    line-height: 1;
                }
            }

            .main-banner-github {
                background: $purple-gradient;

                &:hover,
                &:active,
                &:focus {
                    filter: $purple-filter;
                    svg {
                        filter: $purple-filter;
                    }
                }
            }

            .main-banner-connect {      
                background: $blue-gradient;
        
                &:hover,
                &:active,
                &:focus {
                    filter: $blue-filter;
                    svg {
                        filter: $blue-filter;
                    }
                }
            }

            .main-banner-resume{
                background: $yellow-gradient;
        
                &:hover,
                &:active,
                &:focus {
                    filter: $yellow-filter;
                    svg {
                        filter: $yellow-filter;
                    }
                }
            }

        }

        @media (max-width:992px) {    
            .main-banner-btn {    
                p {
                    font-size: 20px;
                }
    
                svg {
                    font-size: 22px;
                }
    
            }
        }
    }

    .main-banner-container {
        border-radius: 24px;
        padding: 40px 60px !important;
        background: rgba(255, 255, 255, 0.025);
    }

    .main-banner-list-area{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .main-banner-profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            filter: drop-shadow(0 0 0.25rem rgba(74, 47, 189, 0.8));

            img {
                transform: translateY(-27px) translateX(-6px);
                width: 100px;
                zoom: 2.1;
            }
        }
    }

    h1 {
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 0.6;
        margin-bottom: 20px;
        display: block;
        transform: scale3d(1, .85, 1);
        text-shadow: 0 0 20px #000;

        strong {
            font-weight: 400;
            letter-spacing: 2px;
            color: #e0b230;
        }
    }

    p {
        text-shadow: 0 0 6px #000;
        color: #DDD;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        width: 96%;
    }

    @keyframes updown {
        0% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .main-banner-text-anim {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1;
        display: block;

        .main-banner-current-text {
            border-right: 0.08em solid #666;
        }

        &.mobile {
            display: none;
        }
    }



    @media (max-width:992px) {
        margin: 30px 0;
        padding: 0 20px !important;

        .main-banner-container {
            padding: 30px 20px !important;
            background: rgba(255, 255, 255, 0.025);
        }

        .main-banner-text-anim {
            display: none;

            .main-banner-current-text {
                border-right: 0.08em solid #666;
            }

            &.mobile {
                display: block;
            }
        }

        .main-banner-profile {
            gap: 25px;
        }

        svg {
            margin: -30px 0;
        }

        h1 {
            font-size: 32px;
            margin: 10px 0;
        }

        .main-banner-current-text {
            font-size: 36px;
        }

        p {
            font-size: 18px;
        }
    }

}