.main-banner {
    margin: 100px auto;

    .main-banner-container{
        border-radius: 24px;
        padding: 40px 60px !important;
        background: rgba(255,255,255,0.025);
    }

    .main-banner-title {
        font-weight: 700;
        letter-spacing: 0.8px;
        padding: 10px 20px;
        border-radius: 80px;
        background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 20px;
        margin-bottom: 16px;
        display: inline-block;
    }

    h1 {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1;
        margin-bottom: 20px;
        display: block;
    }

    p {
        color: #B8B8B8;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        width: 96%;
    }

    button {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        margin-top: 60px;
        letter-spacing: 0.8px;
        display: flex;
        align-items: center;

        svg {
            font-size: 25px;
            margin-left: 10px;
            transition: 0.3s ease-in-out;
            line-height: 1;
        }

        &:hover {
            svg {
                margin-left: 25px;
            }
        }
    }

    img {
        animation: updown 3s linear infinite;
    }

    @keyframes updown {
        0% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .main-banner-text-anim {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1;
        margin-bottom: 20px;
        display: block;
        .main-banner-current-text {
            border-right: 0.08em solid #666;
        }
    }

    @media (max-width:768px){
        margin-top: 20px;
        padding: 0 20px !important;
        .main-banner-container{
            padding: 30px 20px !important;
            background: rgba(255,255,255,0.025);
        }
    }
}