.navbar{
    padding: 15px 0 25px 0 !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255,255,255,0.025);
    transition: .2s ease-in-out;


    &.scroll {
        padding: 15px 0 15px 0 !important;
        background-color: #121212;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    .navbar-brand {
        color: #fff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        transition: all .3s ease-in-out;
        border-radius: 12px;
        position: relative;

        * {
            height: 23px;
            color: #fff;
            transition: all .3s ease-in-out;
        }

        span {
            margin-top: -3px;
            &::before {
                position: absolute;
                content: "berk.cohadar";
                background: $blue-gradient2;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: all .3s ease-in-out;
            }
        }


        &:hover {
            span::before {
                opacity: 1;
                filter: $blue-filter;
            }
            svg {
                filter: $blue-filter;
            }
        }
    }
    .navbar-links{
        all: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        
        .navbar-link {
            font-weight: 400;
            color: #fff !important;
            letter-spacing: 0.8px;
            padding: 5px 25px;
            font-size: 18px;
            opacity: 0.6;
            transition: all .3s ease-in-out;
            position: relative;
    
            &::before{
                position: absolute;
                content: attr(datacustomattribute);
                background: $blue-gradient2;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: all .3s ease-in-out;
            }

            &::after {
                display: block;
                position: relative;
                top: 5px;
                left: -5px;
                width: calc(100% + 10px);
                height: 3px;
                content: "";
                background: $blue-gradient2;
                opacity: 0;
                transition: all .3s ease-in-out;
            }

            &.active {
                opacity: 1;
                &::after, &::before{
                    opacity: 1;
                }
            }
            &:hover, &:hover::before, &:hover::after {
                opacity: 1;
            }
        }
    }

    .navbar-social{
        display: flex;
        align-items: center;
        .navbar-social-icons{
            // display: inline-block;
            display: flex;
            gap: 10px;
            margin-right: 10px;
            a {
                width: 50px;
                height: 50px;
                background: rgba(217,217,217,0.1);
                display: inline-flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                line-height: 1;
                box-shadow: 0 0 3px 0 #fff;
                &::before {
                    content: "";
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    border-radius: 50%;
                    background: $purple-gradient;
                    filter: $purple-filter;
                    transform: scale3d(0,0,1);
                    transition: all .3s ease-in-out;
   
                }
                &:first-child::before{
                    background: $blue-gradient;
                    filter: $blue-filter;
                }
                &:hover {
                    &::before{
                        transform: scale(1);
                    }
                }
                svg {
                    font-size: 26px;
                    color: #fff;
                    z-index: 1;
                    transition: .3s ease-in-out;
                }
            }
        }
    }

    .navbar-contact{
        .navbar-contact-me{
            font-weight: 700;
            color: #fff;
            box-shadow: $main-shadow;
            padding: 12px 24px;
            font-size: 18px;
            margin-left: 18px;
            position: relative;
            background-color: transparent;
            transition: .3s ease-in-out;
            border-radius: 12px;
    
            cursor: pointer;
            span {
                z-index: 1;
            }
    
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: $purple-gradient;
                filter: $blue-filter;
                border-radius: 12px;
                transform: scale3d(0,0,1);
                transition: .3s ease-in-out;
                top: 0;
                left: 0;
                z-index: -1;
            }
    
            &:hover {
                &::before {
                    transform: scale(1);
                }
            }
        }
    }
    
    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler-icon {
        width: 24px;
        height: 17px;
        background-image: none;
        position: relative;
        border-bottom: 2px solid #fff;
        transition: all 300ms linear;
        top: -2px;

        &:focus{
            border-bottom: 2px solid #fff;
        }

        &::after{
            top: 8px !important;
        }

        &::after, &::before{
            width: 24px;
            position: absolute;
            height: 2px;
            background-color: #fff;
            top: 0;
            left: 0;
            content: '';
            z-index: 2;
            transition: all 300ms linear;
        }
    }

    .navbar-toggler[aria-expanded="true"]{
        .navbar-toggler-icon{
            border-color: transparent;
            &::after{
                transform: rotate(45deg);
                background-color: #fff;
                height: 2px;
            }
            &::before{
                transform: translateY(8px) rotate(-45deg);
                background-color: #fff;
                height: 2px;
            }
        }
    }

    @media (max-width:992px) {
        padding: 20px 0 !important;
        &.scroll {
            padding: 20px 0 !important;
        }
        .navbar-links{
            padding-top: 20px;
        }
        .navbar-contact, .navbar-social {
            display: none;
        }
    }
}
