/************ Variables ************/
$main-shadow: 0 0 3px 0 #fff;;

$purple-filter: drop-shadow(0 0 0.5rem lighten(rgba(170, 54, 124, 0.6), 10%));
$blue-filter: drop-shadow(0 0 0.5rem lighten(rgba(#0072b1, 0.6), 10%));
$yellow-filter: drop-shadow(0 0 0.5rem rgba(#f7df1e, 0.6));

$purple-gradient: linear-gradient(90.21deg, rgba(170, 54, 124, 0.6) -5.91%, rgba(74, 47, 189, 0.8) 111.58%);
$yellow-gradient: linear-gradient(90.21deg, rgba(#f7df1e, 0.5) 5.91%, rgba(#e8c300, 1) 121.58%);
$blue-gradient: linear-gradient(90.21deg, rgba(lighten(#0072b1, 30%), 0.3) -5.91%, rgba(#0072b1, 0.8) 111.58%);
$blue-gradient2: linear-gradient(90.21deg, rgba(lighten(#0072b1, 30%), 0.6) -5.91%, rgba(#0072b1, 0.8) 111.58%);

/************ Component Styles ************/
@import "./components/NavigationBar/index";
@import "./components/Profile/index";
@import "./components/Skills/index";
@import "./components/Projects/index";
@import "./components/Projects/ProjectCard/index";
@import "./components/Footer/index";


/************ Fonts ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Global Styles ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
    background-image: url('./assets/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@media (min-width:1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}